/* Base styles */

body {
    background-color: azure;
}

h1 {
    text-align: center;
    color: blue;
}

img {
    float: right;
}

form {
    border: 1px solid black;
    background-color: azure;
    width: 60%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
}

form input,
form select {
    margin: 10px;
    width: 200px;
    height: 30px;
}

.sr {
    margin-top: 20px;
    margin-left: 50px;
}

.form-1 {
    margin-left: 40px;
}

.form-2 {
    margin-top: 30px;
    margin-left: 60px;
}

#ms {
    padding-left: 65px;
}

#de {
    padding-left: 90px;
}

#da {
    padding-left: 10px;
}

form select {
    margin: 10px;
    width: 200px;
    height: 40px;
}

/* Media Query for smaller screens */

@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }

    form div {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    form input,
    form select {
        width:60%;
        margin:10px;
    }

    .sr {
        margin: 20px auto;
        text-align: center;
    }

    .form-1,
    .form-2 {
        margin-left: 0;
    }
}
